body{
    padding: 0;
    margin: 0;
    width: 100%;
}

header{
    height: 100%;
    width: 50%;
    float: left;
	justify-content: center;
	align-items: center;
    background-color: #592B02;
    
}
.login-fundo-logo{
    display: flex;
    margin:0 auto;

}

.img-logo{
    display: flex;
    margin: 1% auto;
}

.login-fundo-botao-cadastro {
	border-radius: 20px;
	border: 1px solid #F2DA5E;
	background-color: #F2DA5E;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

main{   
    height: 100%;
    width: 50%;
    float: right;
    background-color:rgba(255,255,255,0.62);
}



.login-navegacao{
    width: 100%;
    display: flex;
    background-color: rgba(166,146,129,0.5);
}

.bloco-navegacao{
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border: 1px solid black;
}

.login-box{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(166,146,129,0.5);
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.login-formulario{
    height: 100%;
    width: 100%;
    
}



.login-formulario-content{
    height: 100%;
}
label{
    width: 100%;
    display: absolute;  
}